*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:100px;
    max-width:675px ;
    display: flex;
    justify-content: center;
    margin: 10px auto 30px;
}

h1{
    font-size: 30px;
    font-family: serif;
    font-weight:500;
}



.introPage{
    display: flex;
}
.content{
    margin-bottom: 30px;
    margin-left: 25px;
}
.title{
    font-size: 50px;
}
.authorName{
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0;
}
.translator{
    margin-bottom: 40px;
}
.publisher{
    letter-spacing: 2px;
    font-size: 12px;
}

p{
    margin-bottom: 20px;
}
.noMargin{
    margin-bottom: 0;
}

/* copyright */
.mainAddress{
    margin: 30px 0;
    font-size: 30px;
    font-family: serif;
    font-style: normal;
}
/* every chapter starting*/
.chapterNo{
    /* position: relative; */
    text-align: right;
    font-size: 30px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bolder;
    margin-right: 20px;
    /* background-color: hsl(69, 100%, 51%); */
    margin-top: 30px;
    line-height: 21px;
    padding: 10px 10px; 
    border-bottom: 1px solid #333;
}
.preheading{
    font-family: sans-serif;
    font-style: italic;
    display: block;
    font-weight: 800;
    font-size: 18px;
    line-height: 100px;
    margin-left: 50px;
}
.heading{
    
    /* text-align: right; */
    margin-left: 100px;
}

/* .chapterNo::after{
    content: '';
    width:1%;
    border: 0.5px solid hsl(0, 0%, 0%);
    position: absolute;
    bottom:-2px;
    right: 0;
    
} */

.button{
    margin:10px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    padding: 10px;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}
.button:hover{
    background-color: hsl(0, 0%, 0%);
    color:hsl(360, 100%, 100%)
}
img{
    margin-bottom: 10px;
}

.index {
    margin-bottom: 40px;
    color:hsl(226, 96%, 49%);
    font-size: 18px;
}

.index li{
    margin-bottom: 20px;
}

.index li a{
    font-size: 15px;
    color:hsl(226, 96%, 49%)
    
}

blockquote{
    margin-bottom: 25px;
    line-height: 25px;
}

h2{
    color:hsl(210deg 2% 39.22%);
    margin-bottom: 10px;
}

.list{
    margin-bottom: 20px;
}

.list li{
    margin-left: 25px;
    font-size: 18px;
}

.container{
    background: hsl(0deg 0% 82.75%);
    margin: 10px;
    padding: 15px;
}

table{
    margin-bottom:20px ;
}
table th{
    background-color:hsl(0deg 0% 66.27%);
    line-height: 40px;
}
table td{
    background: hsl(0deg 0% 82.75%);
    line-height: 20px;
    padding: 5px 10px ;
}


.notesHeading{
    text-align: center;
}
.anchor{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

/* backcover */
.backCoverAnchor{
    color:hsl(22.38deg 100% 63.73%)
}
.uppercase{
    text-transform: uppercase;
}